# General / OS / Environment
HELP.md
.DS_Store
.env

# Archive / Temp
_archive/

# Java / Build Output
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/
.mvn/wrapper/maven-wrapper.jar
*.class

# Python
__pycache__/
*.pyc
venv/

# =========================
# IDEs and Editors
# =========================

### VS Code
.vscode/

### IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

### STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/